mixin block(tagName)
  if locals._render_partial
    = eval('typeof ' + locals._render_partial + '_mixin == "function" &&' + locals._render_partial + '_mixin()')
  else
    //- TODO: проверить, что из-за значения по-умолчанию не ломается что-либо
    - tagName = tagName || 'div';

    #{tagName}.block(attributes)
      unless locals._render_root
      block